<?xml version="1.0" encoding="utf-8"?>
<RelativeLayout xmlns:android="http://schemas.android.com/apk/res/android"
    android:id="@+id/layoutLogin"
    android:orientation="vertical"
    android:background="#ffe7e7e7"
    android:layout_width="match_parent"
    android:layout_height="match_parent"
    android:descendantFocusability="beforeDescendants"
    android:focusableInTouchMode="true">
    <LinearLayout
        android:orientation="vertical"
        android:layout_width="match_parent"
        android:layout_height="wrap_content"
        android:layout_centerInParent="true"
        android:layout_marginRight="8dp"
        android:layout_marginLeft="8dp"
        android:background="@drawable/layoutborder">
        <TextView
            android:layout_height="40dp"
            android:id="@+id/lblTitleLogin"
            android:layout_width="match_parent"
            android:text="Sign in to Application"
            android:gravity="center_horizontal"
            android:textSize="18dp"
            android:textStyle="normal"
            android:layout_gravity="center"
            android:layout_centerInParent="true"
            android:textColor="#ff8d8d8d"
            android:layout_marginTop="5dp"
            android:layout_marginLeft="10dp"
            android:layout_marginRight="10dp"
            android:paddingTop="8dp" />
        <LinearLayout
            android:layout_width="wrap_content"
            android:layout_below="@+id/imgAvatar"
            android:layout_height="wrap_content"
            android:id="@+id/linearLayoutUser"
            android:layout_gravity="center_horizontal"
            android:layout_marginTop="15dp"
            android:layout_centerHorizontal="true">
            <EditText
                android:inputType="textEmailAddress"
                android:layout_height="30dp"
                android:id="@+id/txtEmailLL"
                android:layout_width="250dp"
                android:background="@drawable/textboxborder"
                android:hint="EmailId"
                android:layout_gravity="center_horizontal"
                android:textColor="#ff000000"
                android:textColorHint="#ff9e9e9e"
                android:layout_marginLeft="6dp"
                android:paddingLeft="3dp"
                android:textSize="16dp">
                <requestFocus />
            </EditText>
            <ImageView
                android:src="@drawable/e_mail"
                android:layout_width="30dp"
                android:layout_height="30dp"
                android:paddingTop="2dp"
                android:layout_gravity="center_vertical" />
        </LinearLayout>
        <LinearLayout
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:layout_below="@+id/linearLayoutUser"
            android:id="@+id/linearLayoutPwd"
            android:layout_marginTop="20dp"
            android:layout_gravity="center_horizontal"
            android:layout_centerHorizontal="true">
            <EditText
                android:layout_height="30dp"
                android:inputType="textPassword"
                android:id="@+id/txtPasswordLL"
                android:layout_width="250dp"
                android:background="@drawable/textboxborder"
                android:hint="Password"
                android:textColor="#ff000000"
                android:textColorHint="#ff9e9e9e"
                android:layout_marginLeft="5dp"
                android:paddingLeft="3dp"
                android:textSize="16dp" />
            <ImageView
                android:src="@drawable/imgPassword_icon"
                android:layout_width="30dp"
                android:layout_height="30dp"
                android:paddingTop="2dp"
                android:layout_gravity="center_vertical" />
        </LinearLayout>
        <CheckBox
            android:text=" Remember Me"
            android:layout_width="wrap_content"
            android:layout_height="40dp"
            android:id="@+id/chkRemberMeLL"
            android:textColor="#ff8d8d8d"
            android:layout_marginTop="10dp"
            android:textSize="16dp"
            android:layout_marginLeft="10dp" />
        <Button
            android:layout_width="80dp"
            android:layout_below="@+id/checkBoxSUL"
            android:layout_height="40dp"
            android:id="@+id/btnSignInLL"
            android:text="Sign In"
            android:background="#ff3c8dbc"
            android:textColor="#ff000000"
            android:layout_gravity="center_horizontal"
            android:layout_centerHorizontal="true"
            android:textSize="15dp"
            android:layout_marginTop="8dp" />
        <TextView
            android:text="I forgot my password"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/lblForgotPAsswordLL"
            android:textColor="#ff3c8dbc"
            android:gravity="center_horizontal"
            android:layout_marginLeft="8dp"
            android:layout_marginTop="10dp"
            android:textSize="18dp" />
        <TextView
            android:text="Register a new membership"
            android:textAppearance="?android:attr/textAppearanceMedium"
            android:layout_width="wrap_content"
            android:layout_height="wrap_content"
            android:id="@+id/lblRegisterNewMemberShipLL"
            android:textColor="#ff3c8dbc"
            android:gravity="center_horizontal"
            android:layout_marginLeft="8dp"
            android:layout_marginTop="8dp"
            android:layout_marginBottom="8dp"
            android:textSize="18dp" />
    </LinearLayout>
</RelativeLayout>